openapi: 3.0.3
info:
  title: LoopMe Reporting Ad Serving Advertiser Reporting API
  version: v1
  description: The LoopMe Reporting API allows third-party servers to retrieve app, site, and campaign statistics of LoopMe user accounts via REST. There is a publisher reporting endpoint (apps/sites) and an advertiser reporting endpoint (campaigns). All requests use GET and are authenticated with a 16-character API authentication token passed as the api_auth_token query parameter, which is enabled in the LoopMe dashboard Account/Settings. Responses are JSON, currency is USD, and all times are UTC.
  contact:
    name: LoopMe Support
    url: https://wiki.loopme.cool/publishers/reporting-api
  x-apievangelist-generated: true
  x-source: https://wiki.loopme.cool/publishers/reporting-api
servers:
- url: https://reports.loopme.com/api/v1
  description: LoopMe Reporting API
security:
- api_auth_token: []
tags:
- name: Advertiser Reporting
paths:
  /reports/campaigns:
    get:
      operationId: getAdvertiserReport
      summary: Retrieve advertiser (campaign) statistics
      description: Returns campaign, line item, and creative statistics for the authenticated LoopMe advertiser account over the requested date range and granularity.
      tags:
      - Advertiser Reporting
      parameters:
      - $ref: '#/components/parameters/apiAuthToken'
      - $ref: '#/components/parameters/dateRange'
      - $ref: '#/components/parameters/granularity'
      - $ref: '#/components/parameters/countryCode'
      - $ref: '#/components/parameters/platform'
      - $ref: '#/components/parameters/groupBy'
      - name: campaign_id
        in: query
        description: Integer campaign identifier.
        required: false
        schema:
          type: integer
      - name: line_item_id
        in: query
        description: Integer line item identifier.
        required: false
        schema:
          type: integer
      - name: creative_id
        in: query
        description: Integer creative identifier.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: Report series
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
        '400':
          description: Request error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '401':
          description: Missing or invalid api_auth_token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
components:
  schemas:
    Report:
      type: object
      properties:
        granularity:
          type: string
          example: day
        series:
          type: array
          items:
            $ref: '#/components/schemas/ReportPoint'
    ReportPoint:
      type: object
      properties:
        date:
          type: string
          description: Date/time of the bucket, YYYY-MM-DD hh:mm:ss UTC.
          example: 2026-07-01 00:00:00 UTC
        totals:
          type: object
          description: Metric key-value pairs; currency values are USD decimals.
          additionalProperties: true
    ErrorEnvelope:
      type: object
      properties:
        errors:
          type: object
          description: Map of error code to human-readable description.
          additionalProperties:
            type: string
      example:
        errors:
          '1001': Missing or invalid api_auth_token
  parameters:
    platform:
      name: platform
      in: query
      required: false
      description: Platform filter.
      schema:
        type: string
        enum:
        - ios
        - android
        - website
    dateRange:
      name: date_range
      in: query
      required: true
      description: Predefined value (today, yesterday, days7, days30, days90) or a custom range in YYYY-MM-DD:YYYY-MM-DD format.
      schema:
        type: string
    countryCode:
      name: country_code
      in: query
      required: false
      description: ISO 3166-1 alpha-3 country code (e.g. USA, GBR).
      schema:
        type: string
    apiAuthToken:
      name: api_auth_token
      in: query
      required: true
      description: 16-character LoopMe API authentication token.
      schema:
        type: string
    groupBy:
      name: group_by
      in: query
      required: false
      description: Comma-separated list of dimensions to group results by.
      schema:
        type: string
    granularity:
      name: granularity
      in: query
      required: false
      description: Time bucketing for the series.
      schema:
        type: string
        enum:
        - hour
        - day
        - week
        - month
  securitySchemes:
    api_auth_token:
      type: apiKey
      in: query
      name: api_auth_token
      description: 16-character API authentication token generated by LoopMe. Enable Reporting API access in the dashboard Account/Settings to obtain it.
